.navigation {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 1800px) {
        padding: 0 15%;
    }

    @media only screen and (max-width: 1799px) {
        padding: 0 10%;
    }

    @media only screen and (max-width: 1440px) {
        padding: 0 7.5%;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 40px;
    }

    &__item {
        &:nth-child(3) {
            a {
                padding: calc(var(--span-xs) + 5px) var(--span-l);
                border-radius: 51px;
                background: var(--white);
                color: var(--black);
            }
        }
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        text-align: center;
        font: normal normal var(--weight-sm) var(--size-m)/27px var(--Poppins);
        letter-spacing: 0px;
        color: var(--white);
        text-transform: uppercase;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        display: block;
    }

    &__link {
        display: flex;
        width: 100%;
    }
}